[submodule "CPEN 221/Labs/Lab 1/lab1-Tian610"]
	path = CPEN 221/Labs/Lab 1/lab1-Tian610
	url = https://github.com/CPEN-221-2024/lab1-Tian610.git
[submodule "CPEN 221/Labs/Lab 2/lab2-Tian610"]
	path = CPEN 221/Labs/Lab 2/lab2-Tian610
	url = https://github.com/CPEN-221-2024/lab2-Tian610.git
[submodule "CPEN 221/Mini Projects/mp1-Tian610"]
	path = CPEN 221/Mini Projects/mp1-Tian610
	url = https://github.com/CPEN-221-2024/mp1-Tian610.git
[submodule "CPEN 221/Labs/Lab 3/lab3-Tian610"]
	path = CPEN 221/Labs/Lab 3/lab3-Tian610
	url = https://github.com/CPEN-221-2024/lab3-Tian610.git
[submodule "CPEN 221/Labs/Lab 4/lab4-Tian610"]
	path = CPEN 221/Labs/Lab 4/lab4-Tian610
	url = https://github.com/CPEN-221-2024/lab4-Tian610.git
[submodule "CPEN 221/Labs/Lab 5/lab5-Tian610"]
	path = CPEN 221/Labs/Lab 5/lab5-Tian610
	url = https://github.com/CPEN-221-2024/lab5-Tian610.git
[submodule "CPEN 221/Mini Projects/mp2-Tian610"]
	path = CPEN 221/Mini Projects/mp2-Tian610
	url = https://github.com/CPEN-221-2024/mp2-Tian610.git/
[submodule "CPEN 211/Labs/Lab 3/CPEN211Lab3"]
	path = CPEN 211/Labs/Lab 3/CPEN211Lab3
	url = https://github.com/Iain05/CPEN211Lab3.git
[submodule "CPEN 221/Labs/Lab 7/lab7-Tian610"]
	path = CPEN 221/Labs/Lab 7/lab7-Tian610
	url = https://github.com/CPEN-221-2024/lab7-Tian610.git
