[submodule "CPEN 221/Labs/Lab-1/lab1-Tian610"]
	path = CPEN 221/Labs/Lab-1/lab1-Tian610
	url = https://github.com/CPEN-221-2024/lab1-Tian610.git
[submodule "CPEN 221/Labs/Lab 1/lab1-Tian610"]
	path = CPEN 221/Labs/Lab 1/lab1-Tian610
	url = https://github.com/CPEN-221-2024/lab1-Tian610.git
